.root {
    width: 200px;
    font: 13px/22px sans-serif;
}

.directoryContents {
    margin-left: 20px;
}

.root > .directoryContents {
    margin-left: 0;
}

.item {
    display: flex;
    cursor: default;
    align-items: center;
}

.itemIcon {
    flex: none;
    margin-right: 6px;
}

.itemName {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
}

.itemNameChangeIcon {
    display: none;
    cursor: pointer;
}

.item:hover .itemNameChangeIcon {
    display: block;
}

.itemNameEdit {
    flex: 1 1 auto;
    position: relative;
}

.itemNameInput {
    width: 100%;
    margin: 0;
    padding: 0;
    font: inherit;
    line-height: 20px;
    border: 1px solid #0090f9;
    outline: none;
    transform: translate(-1px, 0);
}

.itemNameInput.invalid {
    border: 1px solid #c80000;
}

.itemNameErrorMessage {
    position: absolute;
    top: 100%;
    width: 100%;
    color: #444;
    background: #f6dddd;
    border: 1px solid #c80000;
    padding: 3px 5px;
    font-size: 12px;
    line-height: 18px;
    width: calc(100% - 10px);
    transform: translate(-1px, -3px);
}
